.ol-button-control-group {
    position: absolute;

    .ol-generic-button {
        position: relative;
        display: block;

        &:not(:last-child) {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
